<div class="fondo-contacto">
    <p>Contact</p>
</div>

<div class="container">
    <div class="contact-info">
        <h2>Si tienes alguna duda contactanos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam unde vel, autem amet perspiciatis minima suscipit perferendis ipsum dolorem cum, deleniti hic quaerat aliquid, eum beatae laudantium aut distinctio corporis!</p>
    </div>
    <div class="card">
        <mat-card>
            <mat-card-content>
                <p>
                    <mat-form-field appearance="legacy" >
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" placeholder="Nombre">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput type="email" placeholder="Email">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Mensaje</mat-label>
                        <input matInput type="text" placeholder="Mensaje">
                    </mat-form-field>
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>