.fondo-contacto {
  width: 100%;
  height: 300px;
  background-image: url("https://images.pexels.com/photos/879143/pexels-photo-879143.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  margin-top: 10px;
  align-items: center;
  p {
    color: white;
    font-size: 2rem;
    padding-left: 30px;
    letter-spacing: 3px;
  }
}
.card {
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact-info {
  margin-top: 20px;
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
