.container-img {
  width: 100%;
  img {
    width: 100%;
  }
}

@media (min-width: 570px) {
  .container-product {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 90px;
      height: 60px;
    }
  }
  .container-img {
    width: 50%;
    img {
      width: 100%;
    }
  }
  .container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
