<div *ngIf="product" class="container-product">
    <div class="container-img">
        <img [src]="product.image" alt="">
    </div>
    <div class="container-info">
        <ul>
            <li>Nombre: {{product.title}} </li>
            <li>Precio: {{product.price | currency}} </li>
        </ul>
        <p> {{product.description}} </p>
    </div>
    <button (click)= "createProduct()" >crear</button>
    <button (click)= "updateProduct()" >Actualizar</button>
    <button (click)= "deleteProduct()" >Delete</button>
</div>